.profile{
    width: 400px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    padding-top: 40px;
    border-radius: 12px;
    border: 1px solid #ddd;
    margin: 10px auto;
    background-color: #ffffff;
}

.avatar{
    border-radius: 50%;
    width: 100px;
    margin: 0 auto;
    display: block;

}

.name{
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 10px;
}

.tag{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 10px;
}

.location{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 8px;
}

.description{
    margin-bottom: 30px;

}
.stats{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

    list-style: none;
    
    background-color: #f3f6f9;
    padding: 0;
    margin:0;

}

.item{
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 20px 0;
}

.label{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.quantity{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}
